pandas
openpyxl
xarray
tzwhere
netcdf4
matplotlib
ipywidgets
plotly
scipy
nbformat
h5netcdf
dvc
dvc-gdrive

# for testing

cfchecker @ git+https://github.com/openghg/cf-checker@master#egg=cf-checker
udunits # available only on conda